<div class="row">
<div class="col-md-4 spc-bottom spc-top">
    <p>Nauči osnove C programiranja!</p>
    <div class="image-box-map">
        <a href="javascript:void(0);" (click)="mapInfo()"><img src="../assets/images/defaultMap.jpg" width="300px" height="280px"></a>
    </div>
</div>

<div class="col-md-4 spc-bottom spc-top">
    <p>Nauči osnove objektnog programiranja!</p>
    <div class="image-box-map">
        <img src="../assets/images/defaultMap.jpg" width="300px" height="280px">
    </div>
</div>
</div>
<div class="col-md-8 align-items-center spc-bottom spc-top">
    <p>U nastavku se nalaze mape tvojeg profesora:</p>
    <div class="image-box-map">
        <img src="../assets/images/defaultMap.jpg" width="300px" height="280px">
    </div>
</div>
