<div class="row spc-top">
<div class="col-md-4 spc-bottom spc-top" *ngIf="map !== null">
    <div (click)="mapInfo(map.id)" class="map-click">
        <app-draw-map *ngIf="loaded" [imgSrc]="map.path" [writeText]="true" [mapTitle]="map.title"></app-draw-map>
    </div> 
</div>
<hr>
</div>

<div class="row spc-bottom" *ngIf="user.professorId !== null">
    <h4>Mape profesora:</h4>
</div>
<div class="row">
    <div class="col-md-4 align-items-left" *ngFor="let map of maps">
        <div (click)="mapInfo(map.id)" class="map-click">
            <app-draw-map *ngIf="loaded" [imgSrc]="map.path" [writeText]="true" [mapTitle]="map.title"></app-draw-map>
        </div>       
    </div>
</div>
