<div class="row spc-top">
<div class="col-md-4 spc-bottom spc-top">
    <div class="image-box-map">
        <a href="javascript:void(0);"><img src="../assets/images/defaultMap.jpg" width="300px" height="280px"></a>
        <p>Nauči osnove C programiranja!</p>
    </div>
</div>

<div class="col-md-4 spc-bottom spc-top">
    <div class="image-box-map">
        <img src="../assets/images/defaultMap.jpg" width="300px" height="280px">
        <p>Nauči osnove objektnog programiranja!</p>
    </div>
</div>
<hr>
</div>

<div class="row spc-bottom">
    <h4>Mape profesora:</h4>
</div>
<div class="row">
    <div class="col-md-4 align-items-left" *ngFor="let map of maps">
        <div (click)="mapInfo(map.id)" class="map-click">
            <app-draw-map *ngIf="loaded" [imgSrc]="map.path" [writeText]="true" [mapTitle]="map.title"></app-draw-map>
        </div>       
    </div>
</div>
