<div class="container">
    <div class="row">
        <div class="bkg col-4"></div>
        <div class="col-4"><br>
            <h4>Studenti</h4>
            <span>1. Profesor može dodati studente u popis svojih studenata. Student može biti upisan samo kod
                jednog profesora.
            </span><br>
            <span>2. Ukoliko je student na popisu studenata, može vidjeti riješenja svakog zadatka 
                i izmijeniti osvojene bodove.
            </span><br><br>
            <h4>Postavljanje zadataka</h4>
            <span>1. Dostupan programski jezik je C.</span><br>
            <span>2. Ukoliko je zadatak programskog tipa, potrebno je dodati barem jedan testni slučaj.
            </span><br>
            <span>3. Sve što se unese u opis zadatka bit će prikazano igraču.
            </span><br>
            <span>4. Značka se može dodati na bilo koji zadatak. Igrač će ju osvojiti ukoliko riješenost
                zadatka bude 100%.
            </span><br>
            <span>5. Nakon što se mapa spremi zadatke više nije moguće uređivati, osim ako je korisnik
                kliknio na gumb 'Spremi i nastavi sa uređivanjem kasnije'. Mapa je vidljiva studentima
                tek kada se klikne na gumb 'Spremi'.
            </span><br>
            <span>6. Maksimalni broj razina je 11, a zadataka po razini 13.</span>
            <br>
            <span>7. Ukoliko želite postaviti teoretski zadatak tipa 'Što će se dogoditi izvršavanjem slijedećeg koda?' tada 
                je dio koda potrebno postaviti unutar &lt;code&gt; &lt;/code&gt; u opisu zadatka. Kod postaviti kao zadnji dio opisa zadatka.
            </span><br><br>
            <h4>Pravila igre</h4>
            <span>1. Svaki zadatak može se riješiti samo jednom.</span><br>
            <span>2. Svaki riješeni zadatak može se pregledati klikom na mapu na početnoj stranici.</span><br>
            <span>3. Zadaci se moraju riješavati redom, kako se jedan zadatak riješi, tako će se
                idući otključati za rješavanje.
            </span><br>
            <span>4. Bitka se može igrati samo sa prijateljima.</span><br>
            <span>5. Bitka se sastoji od 2 programska i 2 teoretska zadatka.</span><br>
            <span>6. Trajanje bitke ograničeno je na 10 minuta.</span><br>
            <span>7. Gubitnik bitke gubi 2XPs.</span><br>
            <span>8. Bodovi sa mape 'Osnove programskog jezika C' i sa mapa koje je 
                kreirao profesor, gledaju se odvojeno.
            </span>
        </div>
        <div class="bkg col-4"></div>
    </div>
</div>
