.spc-bottom {
    padding-bottom: 20px;
}

.spc-top {
    padding-top: 20px;
}

.spc-right {
    margin-right: 20px;
}

.spc-left {
    margin-left: 20px;
}

.spc-bt {
    margin-bottom: 20px;
}
.avatar-button:active, 
.avatar-button:focus 
{
     border:0.5em solid #198754; /* here configure as your needs */
     color:#198754;
}

ul {
    list-style-type: none;
  }

  .to-top {
    padding: 15px;
    position:absolute;
    top:0;
}

.btn-right {
    float: right;
}