.spc-bottom {
    padding-bottom: 20px;
}

.spc-top {
    padding-top: 20px;
}

.spc-button {
    margin-right: 15px;
    margin-left: 5px;
}

.spc-left {
    margin-left: 10px;
}

.p-answer {
    font-size: medium;
    margin-top: 15px;
}

.tp-radio-group {  
    display: inline-flex;  
    flex-direction: column;  
 }  
 .tp-radio-button {  
    margin: 5px;  
 }  

.field_class {
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.to-bottom {
    padding: 15px;
    position:absolute;
    bottom:0;
}

textarea {
    overflow-y: scroll;
    height: 120px;
    width: 90%;
}

.timer {
    text-align: center;
    align-items: center;
    background-color: #ED1D24;
    height: 25px;
    color: white;
}

.wrong {
    border: 2px solid !important;
    border-color: #ED1D24 !important;    
}