<div *ngIf="loaded">
    <div class="row" *ngIf="task.isCoding">
            <div class="col-md-4">
                    <p class="spc-left" *ngIf="task.isTimeMeasured">Zadatku se mjeri vrijeme. Pokreni odbrojavanje klikom na gumb.</p>
                    <button type="button" *ngIf="task.isTimeMeasured" [disabled]="true" class="btn btn-success spc-left">Pokreni odbrojavanje</button>
                    <h3 class="spc-left">{{task.title}}</h3>
                    <div class="spc-left">{{task.description}}</div>
            </div>
            <div class="col-md-8">
                    <nu-monaco-editor 
                    [(ngModel)]="value" 
                    [options]="editorOptions" 
                    [model]="model"
                    [disabled]="true"
                    [height]="'470'">
                    </nu-monaco-editor>
            </div>
            <hr>
    </div>
    
    <div *ngIf="loading">
            <app-spinner-component></app-spinner-component>
    </div>
    
    <div class="row" *ngIf="task.isCoding">
            <div>
                    <div>
                            <label class="spc-button">Unesi ulazne podatke (ako ih je više, odvoji ih razmakom, npr: 1 5 3): </label>
                            <input [disabled]="true" class="field_class" name="login_txt" type="text" autofocus>
                    </div>
                    <button type="button" class="btn btn-primary spc-button" [disabled]="true">Pokreni</button>
                    <button type="button" class="btn btn-success" [disabled]=true>Predaj</button>
                    <hr>
                    <div class="spc-button col-12">
                            <textarea readonly></textarea>
                    </div>
            </div>
    </div>
    
    <div class="row" *ngIf="!task.isCoding">
            <div class="col-md-4">
                    <p class="spc-left" *ngIf="task.isTimeMeasured">Zadatku se mjeri vrijeme. Pokreni odbrojavanje klikom na gumb.</p>
                    <button type="button" *ngIf="task.isTimeMeasured" [disabled]="true" class="btn btn-success spc-left">Pokreni odbrojavanje</button>
                    <h3 class="spc-left">{{task.title}}</h3>
            </div>
    </div>
    <div class="row" *ngIf="!task.isCoding">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                    <div class="fw-bold">{{task.description}}</div>
                    <div *ngIf="!task.isMultiSelect">
                            <mat-radio-group aria-label="Select an option" name="correctAnswer"  [disabled]="true" class="tp-radio-group" [(ngModel)]="checkedAnswer">
                                <mat-radio-button *ngFor="let c of task.answers; let ind = index;" [value]="c.offeredAnswer" class="tp-radio-button"> 
                                    <p class="p-answer">{{c.offeredAnswer}}</p>                            
                                </mat-radio-button>                
                            </mat-radio-group>                         
                        </div> 
                        <div *ngIf="task.isMultiSelect">
                            <ul style="list-style-type: none;">
                                <li *ngFor="let c of offeredAnswers; let ind = index;">
                                    <mat-checkbox  [value]="c.value" name="checkbox{{ind}}" [disabled]="true" [(ngModel)]="c.checked">
                                            <p class="p-answer">{{c.value}} </p>                                
                                    </mat-checkbox> 
                                </li> 
                            </ul>                                       
                        </div>
            </div>
            <div class="col-md-4"></div>
    </div>
    <hr>
    <div class="row" *ngIf="!task.isCoding">
            <div class="col-4 spc-left spc-button">        
                    <button type="button" class="btn btn-success" [disabled]="true">Predaj</button> 
                    <div class="spc-button spc-bottom" *ngIf="loaded">
                            <br>  
                            <div *ngIf="playersTask!.scoredPoints! > 0">
                                    <p>Odgovor je <strong> {{playersTask!.scoredPoints === task.points ? 'točan!' : 'djelomično točan.'}}</strong></p>
                                    <p>Osvojeno bodova: 
                                        <strong *ngIf="role === 'Student'">{{playersTask!.scoredPoints}}/{{task.points}}</strong>
                                        <strong *ngIf="role !== 'Student'">
                                            <input class="form-control-sm" name="point" type="number" value="{{playersTask!.scoredPoints}}"> / {{task.points}}                                           
                                        </strong>
                                    </p>
                                    <button *ngIf="role !== 'Student'" type="button" class="btn btn-success" (click)="goBack()">Spremi izmjenu</button> 
                            </div>
                            <div *ngIf="!(playersTask!.scoredPoints > 0)">
                                    <p>Odgovor je <strong>netočan.</strong></p>
                                    <p>Točan odgovor: 
                                            <strong *ngIf="!task.isMultiSelect">{{correctAnswer}}</strong>
                                            <strong *ngIf="task.isMultiSelect">{{correctAnswers}}</strong>
                                    </p>
                            </div>                   
                    </div>               
            </div>
    </div>
    <div class="row">
            <div class="col-2 to-bottom">
                    <button type="button" class="btn btn-success" (click)="goBack()">Natrag na zadatke</button> 
            </div>            
    </div>
    </div>

    