<div *ngIf="loaded">
<div class="row" *ngIf="task.isCoding">
    <div class="col-md-4">
            <h3 class="spc-left">{{task.title}}</h3><hr>
            <div class="spc-left">{{task.description}}</div>
    </div>
    <div class="col-md-8">
            <nu-monaco-editor 
            [(ngModel)]="value" 
            [options]="editorOptions" 
            [model]="model"
            [disabled]="done"
            [height]="'470'">
            </nu-monaco-editor>
    </div>
    <hr>
</div>

<div *ngIf="loading">
    <app-spinner-component></app-spinner-component>
</div>

<div class="row" *ngIf="task.isCoding">
    <div>
            <div *ngIf="task.hasArgs">
                    <label class="spc-button">Unesi ulazne podatke (ako ih je više, odvoji ih razmakom, npr: 1 5 3): </label>
                    <input [disabled]="done" class="field_class" name="login_txt" type="text" autofocus [(ngModel)]="args">
            </div>
            <button type="button" class="btn btn-primary spc-button" (click)="compile()" [disabled]="done">Pokreni</button>
            <button type="button" class="btn btn-success" (click)="submit()" [disabled]="done">Predaj</button>
            <hr>
            <div class="spc-button col-12" *ngIf="!done" >
                    <textarea readonly>{{compileResult}}</textarea>
            </div>
            <div *ngIf="done" class="spc-button row">
                    <div class="col-8 overflow-auto" style="height: 130px;">
                    <table class="table table-striped">
                            <thead>
                                    <tr>
                                            <th scope="col">Ulaz</th>
                                            <th scope="col">Izlaz</th>
                                            <th scope="col">Očekivani izlaz</th>
                                    </tr>                                       
                            </thead>
                            <tbody>
                                    <tr *ngFor="let r of this.submitCodeResult"  [ngClass]="{ 'wrong' : r.result !== r.expectedOutput}">
                                            <td>{{r.inputs}}</td>
                                            <td>{{r.result}}</td>
                                            <td>{{r.expectedOutput}}</td>
                                    </tr>
                            </tbody>                                
                    </table>
            </div>
            <div class="col-2">
                    <p>Osvojeno bodova: <strong>{{points}}/{{task.points}}</strong></p>
                    <p>Vrijeme izvođenja: <strong>{{executionTime}} ms</strong></p>
            </div>
            </div>
    </div>
</div>

<div class="row" *ngIf="!task.isCoding">
    <div class="col-md-4">
            <h3 class="spc-left">{{task.title}}</h3>
    </div>
</div>
<div class="row" *ngIf="!task.isCoding">
    <div class="col-md-4"></div>
    <div class="col-md-4">
            <div class="fw-bold">{{task.description}}</div>
            <div *ngIf="!task.isMultiSelect">
                    <mat-radio-group aria-label="Select an option" name="correctAnswer" class="tp-radio-group" [(ngModel)]="checkedAnswer">
                        <mat-radio-button *ngFor="let c of task.answers; let ind = index;" [value]="c.offeredAnswer" class="tp-radio-button"> 
                            <p class="p-answer">{{c.offeredAnswer}}</p>                            
                        </mat-radio-button>                
                    </mat-radio-group>                         
                </div> 
                <div *ngIf="task.isMultiSelect">
                    <ul style="list-style-type: none;">
                        <li *ngFor="let c of offeredAnswers; let ind = index;">
                            <mat-checkbox  [value]="c.value" name="checkbox{{ind}}" [(ngModel)]="c.checked" (ngModelChange)="checkBoxChanged(c)">
                                    <p class="p-answer">{{c.value}} </p>                                
                            </mat-checkbox> 
                        </li> 
                    </ul>                                       
                </div>
    </div>
    <div class="col-md-4"></div>
</div>
<hr>
<div class="row" *ngIf="!task.isCoding">
    <div class="col-4 spc-left spc-button">        
            <button type="button" class="btn btn-success" (click)="checkCorrectAnswer()" [disabled]="(checkedAnswer === null && checkedAnswers.length === 0) || done">Predaj</button> 
            <div class="spc-button spc-bottom" *ngIf="done">
                    <br>  
                    <div *ngIf="theoryResult">
                            <p>Odgovor je <strong> {{points === task.points ? 'točan!' : 'djelomično točan.'}}</strong></p>
                            <p>Osvojeno bodova: <strong>{{points}}/{{task.points}}</strong></p>
                            <p *ngIf="points !== task.points">Točan odgovor: 
                                    <strong *ngIf="!task.isMultiSelect">{{correctAnswer}}</strong>
                                    <strong *ngIf="task.isMultiSelect">{{correctAnswers}}</strong>
                            </p>
                    </div>
                    <div *ngIf="!theoryResult">
                            <p>Odgovor je <strong>netočan.</strong></p>
                            <p>Točan odgovor: 
                                    <strong *ngIf="!task.isMultiSelect">{{correctAnswer}}</strong>
                                    <strong *ngIf="task.isMultiSelect">{{correctAnswers}}</strong>
                            </p>
                    </div>                   
            </div>               
    </div>
</div>
</div>
<footer>
    <div class="row">
            <div class="col-2 to-bottom">
                    <button type="button" class="btn btn-success" (click)="next()" *ngIf="!isLast">Sljedeći zadatak</button>
                    <button type="button" class="btn btn-success" (click)="end()" *ngIf="isLast">Završi bitku</button> 
            </div>
    </div>
</footer>

<ng-template #notification let-data>
    <h2 matDialogTitle>Obavijest</h2>
    <mat-dialog-content>
       <p>{{data}}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button class="btn btn-primary" mat-button matDialogClose>Zatvori</button>
    </mat-dialog-actions>
</ng-template>


