.spc-bottom {
    padding-bottom: 20px;
}

.spc-button {
    margin-right: 15px;
    margin-left: 5px;
}

.field_class {
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}