<div class="row">
    <div class="col-md-4">
        <div class="card spc-top spc-bottom" style="width: 18rem;">           
            <div class="card-body">
              <h5 class="card-title">Level 1: Title</h5>
              <p class="card-text">Description</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Zadatak</li>
              <li class="list-group-item">Zadatak</li>
              <li class="list-group-item">Zadatak</li>
            </ul>           
        </div>
        <div class="card spc-top spc-bottom" style="width: 18rem;">           
            <div class="card-body">
              <h5 class="card-title">Level 1: Title</h5>
              <p class="card-text">Description</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Zadatak</li>
              <li class="list-group-item">Zadatak</li>
              <li class="list-group-item">Zadatak</li>
            </ul>           
        </div>
    </div>
    <div class="col-md-6">
        <div class="image-box-map">
            <img src="../assets/images/defaultMap.jpg" width="1000px" height="800px">
        </div>       
    </div>
</div>
