<div class="row">
  <div class="col-md-1 spc-top">
    <a href="javascript:void(0);" (click)="onBack()" class="previous">&#8249;</a>
  </div>
</div>
<div class="row" *ngIf="loaded">
<div class="col-4">
<div class="row row-cols">
    <div class="col-sm" *ngFor="let m of map.levels; let ind = index;">
        <div class="card spc-top spc-bottom" style="width: 30rem;">           
            <div class="card-body">
              <h5 class="card-title">Razina {{ind+1}}: {{m.title}}</h5>
              <p class="card-text"> {{m.description}}</p>
            </div>
            <ul class="list-group list-group-flush" *ngFor="let a of m.assignments; let i = index;">
              <li class="list-group-item">
                Zadatak {{i+1}} : {{a.title}}
                <button class="btn btn-primary" *ngIf="role === 'Student'" (click)="taskPlay(a.id, m.id)" style="margin-left: 10px; margin-right: 10px;">Igraj</button>
                <button class="btn btn-primary" *ngIf="role === 'Professor'" (click)="openDialog(i, ind)" style="margin-left: 10px; margin-right: 10px;">Pogledaj zadatak</button>
              </li>
            </ul>           
        </div>       
    </div>
</div>
</div>
<div class="col-8">
  <div class="image-box-map">
    <app-draw-map *ngIf="loaded" [imgSrc]="map.path" [levels]="map.levels" [draw]="true" [userTask]="userTask" [userLevel]="userLevel" [avatarSrc]="avatarSrc"></app-draw-map>
  </div>  
</div>     
</div>
