.image-box-map {
    padding-top: 30px;
    text-align: center;
}

.spc-bottom {
    margin-bottom: 30px;
}

.spc-top {
    margin-top: 30px;
    margin-left: 20px;
}

.btn-play {
    height: 50px;
    width: 80px;
}