<div class="row">
  <div class="col-md-1 spc-top">
    <a href="javascript:void(0);" (click)="onBack()" class="previous">&#8249;</a>
  </div>
</div>

<div *ngIf="!loaded">
  <app-spinner-component></app-spinner-component>
</div>

<div class="row" *ngIf="loaded">
<div class="col-4">
<div class="row row-cols">
    <div class="col-sm" *ngFor="let m of map.levels; let ind = index;">
        <div class="card spc-top spc-bottom" style="width: 40rem;">           
            <div class="card-body">
              <h5 class="card-title">Razina {{ind+1}}: {{m.title}}</h5>
              <p class="card-text"> {{m.description}}</p>
            </div>
            <ul class="list-group list-group-flush" *ngFor="let a of m.assignments; let i = index;">
              <li class="list-group-item" [ngClass]="getColor(a.id)">
                <span>Zadatak {{i+1}} : {{a.title}} </span>             
                <button class="btn btn-primary" *ngIf="role === 'Student' && !isPlayed(a.id)" (click)="taskPlay(a.id, m.id)" style="margin-left: 10px; margin-right: 10px;" [disabled]="ind > userLevel! || i > userTask!">Igraj</button>
                <button *ngIf="role === 'Student' && isPlayed(a.id)" class="btn btn-primary" (click)="taskView(a.id, m.id)" style="margin-left: 10px; margin-right: 10px;">Pregledaj</button>
                <button class="btn btn-primary" *ngIf="role === 'Professor'" (click)="openDialog(i, ind)" style="margin-left: 10px; margin-right: 10px;">Pogledaj zadatak</button>
                <span class="percentage" *ngIf="isPlayed(a.id)"> {{getPercentage(a.id)}}%</span>
              </li>
            </ul>           
        </div>       
    </div>
</div>
</div>
<div class="col-8">
  <div class="image-box-map">
    <app-draw-map *ngIf="loaded" [imgSrc]="map.path" [levels]="map.levels" [draw]="true" [userTask]="userTask" [userLevel]="userLevel" [avatarSrc]="avatarSrc"></app-draw-map>
  </div>  
</div>     
</div>
