<div class="row">
<div class="col-3" *ngIf="loaded">
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 300px; height: 900px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"></a>
    <div class="image-box">
        <img src={{user!.avatar.path}} class="rounded-circle center" width="150px" height="130px">
    </div>
    <p class="text-white text-center">{{user!.username}}</p>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">           
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link text-white" [class.active]="showHome === true" (click)="home()">
          <svg class="bi me-2" width="16" height="16"></svg>
          Početna
        </a>
      </li>    
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link text-white" [class.active]="showFindFriends === true" (click)="findFriends()">
          <svg class="bi me-2" width="16" height="16"></svg>
          Pronađi prijatelje
        </a>
      </li>
      <li class="nav-item spc-bottom">
        <a href="javascript:void(0)" class="nav-link text-white" [class.active]="showMyFriends === true" (click)="myFriends()">
          <svg class="bi me-2" width="16" height="16"></svg>
          Moji prijatelji
        </a>
      </li>      
      <li class="progress-circle">
        <div class="progress yellow">
            <span class="progress-left"[ngStyle]="{'--deg2' : mapPointsDeg2}">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right" [ngStyle]="{'--deg1' : mapPointsDeg1}">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{userDefaultPercentage}}%</div>
          </div>
      </li>
      <li class="progress-circle" *ngIf="user.professorId !== null">
        <p>Postignuto na profesorovim mapama:</p>
        <div class="progress yellow">
            <span class="progress-left" [ngStyle]="{'--deg2' : professorMapPointsDeg2}">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right" [ngStyle]="{'--deg1' : professorMapPointsDeg1}">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{userPercentage}}%</div>
          </div>
      </li>   
    </ul>
</div>
</div>
<div class="col-9">
    <app-home *ngIf="showHome && user !== null" [user]="user"></app-home>
    <app-find-friends-component *ngIf="showFindFriends"></app-find-friends-component>
    <app-my-friends *ngIf="showMyFriends"></app-my-friends>
</div>
</div>


